*{
    margin: 0px;
    padding: 0px;
}
.card1{
    border: 3px solid black;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 70px;



}
img{
    width: 70px;
    height: 70px;
    /* margin-left: 80px;*/
    margin-top: 20px; 
}
h1{
    font-size: x-large;
    margin-top: 20px;
    
}
p{
    margin-top: 20px;
}
button{
    margin-top: 20px;
    width: 180px;
    background-color: black;
    color: white;
    height: 30px;
    font-size: x-large;
    border-radius: 15px;
    margin: 20px;
}
button:hover{
    background-color: white;
    color: white;
    border: none;
}
.main>h1{
    text-align: center;
    font-size: 40px;
}
.container{
    display: flex;
    margin-left: 10%;
}
